*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
body{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 65px;
    line-height: 60px;
    margin: 25px 0;
}
.header{
    background: radial-gradient(#efefef,#817e7e);
}
.header .row{
    margin-top: 70px;
}
.produtos-principal{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25px;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px; 
    transition: transform 0.5s; 
}
.col-4 img{
        width: 100%;
}
.titulo{
    text-align:center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}
.col-4:hover{
    transform:translateY(7px);
}
.categorias{
    text-align:left;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
    right: -130px;
}
.marcas{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
}
.footer{
    background: rgb(0, 0, 0);
    color: #f7f4f4;
    font-size: 20px;
    padding: 1px 0 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3{
    min-width:250px;
    margin-bottom: 20px;
}
button{
    position: relative;
    width: 200px;
    padding: 15px 0;
    cursor: pointer;
}
.barradepesquisa{
    margin-right: 20px;
    width: 300px;
    height: 42px;
    border: 2px solid black;
    padding: 0px 10px;
    border-radius: 50px;
}
 input{
    margin-right: 20px;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    border-radius: 50px;
    outline: none;
}
@media only screen and (max-width:800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: none;
        width: 100%;
        overflow: hidden;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
    color: #555;
    }
}
.row-2{
    justify-content: spaced-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid white;
    padding: 5px;
}
select:focus{
    outline: none;
}
.carousel {
    width: 600px; 
    height: 610px; 
    align-items: center;
  }

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    }

    .row.product-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .col-4 {
        flex-basis: calc(33.33% - 20px);
        margin-bottom: 50px;
        transition: transform 0.5s;
    }
    
    .col-4 img {
        max-width: 40%;
        height: auto;
    }
    
    .col-4 h4 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
  .row.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 200px;
}
#productList {
    padding-left: 250px;
  }
